.App {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.App button {
  color: black;
}
