.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.App button {
  color: black;
}
